@media (max-width: 767px) { 
    #card-box{
        height:40vh;
    }
    #email-big{
        max-height:20vh;
    }
    #contents{
        min-height: 150px;
    }
    .reply-box{
        height: 200px;
    }
}
    
@media (min-width: 768px) { 
    #card-box{
        height:95vh;
    }
    .email-read{
        height:100%;
    }
    #email-big{
        height:50vh;
    }
    #contents{
        height:250px;
    }     
}
    
@media (min-width: 992px) { 

 }

body{
    background-color:darkseagreen;
    Overflow:hidden;
}

.main-columns{
    height:100%;
    overflow:hidden;
}

.navbar{
    margin-left:0px;
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom:black 1px solid;

}
.sidebar{
    background-color:lightblue;
    box-shadow:5px 5px 5px;
    height: 100vh;
    padding:20px;
}
#sidebar-options{
    width:100%;
    list-style: none;
    border-radius:10px;
}

.list-group-item{
    background-color:lightgreen;
    border: black 2px solid;
}

#compose{
    background-color:lightsalmon;
    border-top:none;
}

#card-box{
background-color:lightcyan;

overflow-y:scroll;
}

.card{
    height:100px;
    width: 200px;
    margin-top:10px;
}

.card-body{
    background-color:lightgoldenrodyellow;
}

.card-big{
    overflow-y:scroll;
}

.email-read{
    background-color:lightgray;
    height:100%;
}

h6{
    background-color:greenyellow;
}


.reply-box{
    height:30%;
    min-height:400px;
    min-width:500px;
    background-color:lightblue;
    border:darkgray 5px solid;
}

#reply-col{
    margin:5px;
}

.emails{
    width:100%;
    overflow:hidden;
    border-radius:10px;
}

.list-group-item:hover{
    border:red 5px solid;
}

.list-group-item::selection{
    border:purple 5pc solid;
}

#email-big{
    width:99%;
    height:50vh;
    margin:10px;
    padding:8px;
}

.card-text{
    height:35px;
    padding:0px;
}

#Im-ugly{
    height:40px;
    margin:5px;
}